﻿@model List<Product>
@{
   ViewBag.Title = "ProductTable";
}

<h2>ProductTable</h2>

<form method="post" action="Product/ProductTable">
   <input name="Search" value="" id="searchTxt" />
   <button type="button" id="searchBtn">Serach</button>
</form>
<button type="button">New</button>

<table class="table">
   <thead>
      <tr>
         <th>Product</th>
         <th>Category</th>
         <th>Price</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
      @foreach (var product in Model)
      {
         <tr>
            <td>@product.Name</td>
            <td>-</td>
            <td>@product.Price</td>
            <td>
               <button>Edit</button>
               <button>Delete</button>
            </td>
         </tr>
      }
   </tbody>
</table>

<script>
   $("#searchBtn").click(function () {
      var searchValue = $("#searchTxt").val();

      $.ajax({
         url: '/Product/ProductTable',
         data: {
            search: searchValue
         }
      })
         .done(function (response) {
            $("#tableContainer").html(response);
         })
         .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
         });

   });
</script>