﻿@model ClothBazar.Entities.Category
@{
   ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<p>Are You Sure To Delete the Item.</p>

<form method="post">

   <input type="hidden" name="ID" value="@Model.ID" />

   <p>@Model.Name</p>
   <p>@Model.Description</p>

      <br />

   <button type="submit">Delete</button>

</form>